{% extends 'shop/base.html' %}
{% load static %}
{% block title %}
Pants
{% endblock %}
{% block content %}
<div class="hero-wrap hero-bread" style="background-color:blanchedalmond;">
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-6 ftco-animate text-center">
          <h1 class="bread">Pants</h1>
        </div>
      </div>
    </div>
  </div>

  <section class="ftco-section">
    <div class="row" style="margin-left: 10%; margin-right: 10%;">
        <div class="col-lg-4">
            <img class = "thumbnail" src="{% static 'images/placeholder.png' %}">
            <div class="box-element product">
                <h6><strong>Product</strong></h6>
                <hr>
                <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
                <h4 style="display: inline-block; float: right">34,000</h4>
            </div>
        </div>
        <div class="col-lg-4">
            <img class = "thumbnail" src="{% static 'images/placeholder.png' %}">
                <div class="box-element product">
                <h6><strong>Product</strong></h6>
                <hr>
                <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
                <h4 style="display: inline-block; float: right">34,000</h4>
            </div>
        </div>
        <div class="col-lg-4">
            <img class = "thumbnail" src="{% static 'images/placeholder.png' %}">
                <div class="box-element product">
                <h6><strong>Product</strong></h6>
                <hr>
                <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
                <h4 style="display: inline-block; float: right">34,000</h4>
            </div>
        </div>
	</div>
</section>
{% endblock%}